@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background: #4e4d4d;
  border-radius: 4px;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #e1e0e2, #c2c1c4 1px, #c9c6c6 0, #d9d8dd);
}
