@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

html::-webkit-scrollbar {
  width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
  background: #504f4f;
  border-radius: 40px;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #bcbabe, #cac8cf 1px, #c9c9c9 0, #f0eef8);
}
